<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jeux</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body class="bg-dark mx-5">
    <div class="d-flex flex-column">
        <div class="d-flex flex-row align-items-center">
            <a class="btn btn-primary py-2 me-5 fw-bold" href="/formRobot">Retour</a>
            <h1 class="text-white fw-bolder my-5">Jeux</h1>
        </div>

        {% for game in games %}
            <div class="card center bg-secondary mb-4">
                <div class="card-body">
                    <h2 class="card-title text-white fw-bolder">{{game.title}}</h2>
                        <p class="card-text text-light">{{game.description}}</p>
                    <a class="btn btn-primary fw-bold" href="/formRobot/{{game.file}}">JOUER</a>
                </div>
            </div>
        {% endfor %}

    </div>

</body>
</html>