<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Histoire</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body class="bg-dark mx-5">
<div class="d-flex flex-column">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <div class="d-flex flex-row align-items-center">
            <a class="btn btn-primary py-2 me-5 fw-bold" href="/formRobot">Retour</a>
            <h1 class="text-white fw-bolder my-5">Histoire</h1>
        </div>
    </div>
    <textarea class="bg-secondary" rows="28" style="resize: none; border-radius: 10px";> </textarea>
    <div class="d-flex flex-row justify-content-end align-items-center mt-5">
        <a class="btn btn-primary py-2 me-5 fw-bold" href="/formRobot">PRECEDENT</a>
        <a class="btn btn-primary py-2 fw-bold" href="/formRobot">SUIVANT</a>
    </div>


</div>


</body>
</html>