<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body class="bg-dark mx-5">
    <div>
        <h1 class="text-center text-white fw-bolder my-5">Bienvenue</h1>

        <div class="card center mx-auto bg-secondary" style="width: 50%;">
            <div class="card-body ">
                <h2 class="card-title text-white fw-bolder">Apprendre à coder</h2>
                <p class="card-text text-light">Code de manière ludique et créative afin d'assimiler les concepts de base de la programmation.</p>
                <a class="btn btn-primary fw-bold" href="/formRobot/learncoding">J'Y VAIS</a>
            </div>
            <!--
                    <button>J'Y VAIS</button>
            -->
        </div>
        <div class="card center mx-auto bg-secondary my-4" style="width: 50%;">
            <div class="card-body ">
                <h2 class="card-title text-white fw-bolder">Jeux</h2>
                <p class="card-text text-light">Joue à des jeux avec ton robot préféré.</p>
                <a class="btn btn-primary fw-bold" href="/formRobot/games">J'Y VAIS</a>
            </div>
            <!--
                    <button>J'Y VAIS</button>
            -->
        </div>
        <div class="card center mx-auto bg-secondary my-4" style="width: 50%;">
            <div class="card-body ">
                <h2 class="card-title text-white fw-bolder">Histoire</h2>
                <p class="card-text text-light">Laisse toi plonger dans la fabuleuse histoire de notre cher Cozmo.</p>
                <a class="btn btn-primary fw-bold" href="/formRobot/history">J'Y VAIS</a>
            </div>
            <!--
                    <button>J'Y VAIS</button>
            -->
        </div>
        <div class="card center mx-auto bg-secondary my-4" style="width: 50%;">
            <div class="card-body ">
                <h2 class="card-title text-white fw-bolder">Administrateur</h2>
                <p class="card-text text-light">Mode administrateur du site.</p>
                <a class="btn btn-primary fw-bold" href="/formRobot/">J'Y VAIS</a>
            </div>
            <!--
                    <button>J'Y VAIS</button>
            -->
        </div>
    </div>


</body>
</html>