<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apprendre à coder</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body class="bg-dark mx-5">
<form method="POST" action="/formRobot/compileEditor" class="d-flex flex-column">
    {% csrf_token %}
    <div class="d-flex flex-row justify-content-between align-items-center">
        <div class="d-flex flex-row align-items-center">
            <a class="btn btn-primary py-2 me-5 fw-bold" href="/formRobot">Retour</a>
            <h1 class="text-white fw-bolder my-5">Apprendre à coder</h1>
        </div>

        <button class="btn btn-primary py-2 px-5 fw-bold" type="submit">LANCER</button>
    </div>

    <textarea onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}"
              class="bg-secondary" name="codeArea" rows="25" style="resize: none; border-radius: 10px; color:white">
    </textarea>

    <div>
        <h3 class="text-white fw-bolder mt-5">Console</h3>

        <div class="card center mb-5 bg-secondary">
            <div class="card-body">
                <p class="card-text text-light">
                    {% if log %}
                        {{log}}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>


</form>


</body>
</html>